@import "./componentes/reset";
@import "./componentes/tipografias";

@mixin cuerpos ($gap, $minHeight, $fontFamily) {
    gap: $gap;
    min-height: $minHeight;
    font-family: $fontFamily;
}
@mixin contenedorH1($fontFamily, $fontSize, $color, $textAling, $margen){
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $color;
    text-align: $textAling;
    margin: $margen;
}

$colorPrincipal: rgb(71, 99, 255);
$colorDeFondo: black;
$gradienteLineal: linear-gradient(112.1deg, rgba(32, 38, 57, 1) 11.4%, rgba(63, 76, 119, 1) 70.2%);

/*A todos los bodys*/
.cuerpo,
.cuerpoHistoria,
.cuerpoMotos,
.cuerpoMultimedia,
.cuerpoContacto {
    background-image: linear-gradient(112.1deg, rgba(32, 38, 57, 1) 11.4%, rgba(63, 76, 119, 1) 70.2%);
    @include cuerpos(10px, 100vh, "Orbitron");

}

/*Pading para la nav*/
.navbar.fixed-top.navbar-expand-lg.bg-body-tertiary.bg-dark {
    padding: 4px 0px;
}

/*Titulos*/
.contenedorH1 {
    @include contenedorH1("Orbitron", 30px, $colorPrincipal, center, 100px 0 100px 0);
       }
.contenedorH3 {
    @include contenedorH1("Orbitron", 30px, $colorPrincipal, center, 50px 0 50px 0);
    }       

/*Seccion Noticias*/
.noticias {
    font-family: "Orbitron";
    text-align: center;
    .col-md-12.noticia{
        padding: 16px 12px 16px 12px;
    }

    .card.h-100 {
        .card-text {
            color: black;
        }

        &:hover {
            transform: scale(1.1);
            transition: all 0.3s;
        }
    }


}

/*Footer*/
.footer {
    color: $colorPrincipal;
    font-family: "Orbitron";
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 24px;
    .campoInput{
        margin-bottom: 8px;
    }
    .mail{
        color: #ee752f;
    }

}

.redes {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    
    .card.h-101{
        background: none;
        &:hover {
            transform: scale(1.1);
            transition: all 0.3s;
        }
    }
}

/*Seccion Historia*/
.cuerpoHistoria {

    .seccionHistoria {
        font-family: "Orbitron";
        color: white;

        .col-lg-6.col-md-12 {
            padding: 8px;

            .card-body {
                background-color: #212529;
                color: white;

                .container.text-center.h3CardHistoria {
                    color: aqua;
                }
            }
        }
    }

}

/*Seccion Motos*/
.cuerpoMotos {
    .accordion-button{
        background-color: rgb(63, 91, 114);
        color: white;
    }

    .col-lg-6.col-md-12 {
        padding: 8px;
    }

    .card-body {
        background-color: #212529;
        color: white;
    }
}

.card-text {
    color: white;
    text-align: center;
}

/*Seccion Multimedia*/
.cuerpoMultimedia {

    .container.sonidos {
        padding: 15px 0px;
    }
}

/*Contacto*/
.cuerpoContacto {

    #formulario {
        color: white;

        #emailHelp {
            color: white;
        }
    }

    .mapa {
        padding: 15px 0px 15px 0px;
    }
}